// Customizations Here (Optional)

// Bulma Import
@import '~bulma';

:root {
    --blue:#1e90ff;
    --white:#ffffff;
    --font-weight:bold;
  }
  
  html, body {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
  }
  
  @font-face {
    font-family: 'Campton Book';
    src: url('../fonts/Campton-Bold/Campton-Bold.woff2') format("woff2"), url('../fonts/Campton-Bold/Campton-Bold.woff') format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Campton';
    src: url('../fonts/Campton-Medium/Campton-Medium.eot');
    src: url('../fonts/Campton-Medium/Campton-Medium.eot?#iefix') format("embedded-opentype"), url('../fonts/Campton-Medium/Campton-Medium.woff2') format("woff2"), url('../fonts/Campton-Medium/Campton-Medium.woff') format("woff"), url('../fonts/Campton-Medium/Campton-Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #000;
  
    &:hover {
      text-decoration: none;
    }
  }
  
  h1 {
    font-size: 3.625rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  p, .font16 {
    font-size: 1rem;
  }
  
  .font14 {
    font-size: 14px;
  }
  
  .font18 {
    font-size: 18px;
    line-height: 22px;
  }
  
  h5 {
    font-size: 16px;
  }
  
  h6 {
    font-weight: bold;
    opacity: .7;
    font-size: 12px !important;
    line-height: 18px;
  }
  
  .font12 {
    font-size: 12px !important;
    line-height: 18px;
  }
  
  .w-100 {
    width: 100% !important;
  }
  
  .border-0 {
    border: 0 !important;
  }
  
  .bg-pink {
    background-color: #805DC4;
  }
  
  .bg-gray {
    background: #FCFCFC;
  }
  
  .postion-absolute {
    position: absolute;
  }
  
  .bg-pink-dark {
    transition: all .3s;
    background-color: #FF23B7;
    border-color: #FF23B7;
    color: #fff;
    font-weight: 500;
  }
  
  header {
    box-shadow: 0px 1px 10px #0000000D;
  }
  
  .navbar-item:last-child:hover {
    background: transparent;
    color: inherit;
  }
  
  .bg-light {
    background-color: #F5F5F5;
  }
  
  .cwhite {
    color: #fff !important;
  }
  
  .columns {
    max-width: 1640px;
    margin: 0 auto;
    width: 100%;
  }
  
  .slide-section {
    background: url(../img/bnr.jpg) no-repeat center center;
    background-size: auto 100%;
    height: 650px;
    display: flex;
    align-items: center;
  }
  
  .navbar-item, .navbar-link {
    color: #606060;
    font: 600 16px/1.3rem Montserrat,sans-serif;
    padding: 0 1rem;
    position: relative;
    transition: .3s;
  }
  
  a.navbar-item:hover {
    background: #805dc4;
    color: #fff;
  }
  
  .navbar-item img {
    max-height: 100%;
    max-width: 230px;
  }
  
  header {
    padding: 15px 0;
  }
  
  nav.navbar {
    padding: 20px 0;
  }
  
  footer {
    padding: 100px 0;
  }
  
  .navbar-menu img {
    width: 35px;
  }
  
  a.navbar-item.login:hover {
    background: transparent;
    color: inherit;
  }
  
  .widget_area {
    background: #efeeee;
    border: 0;
    padding: 20px;
    height: 100%;
    border-radius: 30px;
    position: relative;
  }
  
  .textarea::placeholder {
    text-align: center;
    font: normal normal 600 16px/19px Montserrat;
    color: #606060;
    opacity: 0.2;
  }
  
  .widget_area h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  footer {
    a {
      color: #606060;
      font-size: 14px;
      line-height: 30px;
      padding: 4px 0;
      display: inline-block;
    }
  
    img {
      max-width: 250px;
    }
  }
  
  .font-weight-bold {
    font-weight: 700;
  }
  
  footer p {
    color: #606060;
    font: 14px/18px Montserrat;
  }
  
  .column.is-one-five {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
    flex: 1 1 0;
    flex: none;
    width: 30%;
  }
  
  .slide-section {
    h1 {
      font: 600 58px/60px Montserrat;
      text-shadow: 0 0 30px #0000004D;
    }
  
    h3 {
      text-align: left;
      font: 600 24px/36px Montserrat;
      padding: 20px 0;
    }
  }
  
  .clr_gray {
    color: #606060 !important;
  }
  
  .font-600 {
    font-weight: 600;
  }
  
  a.btn {
    padding: 15px 30px;
    font: normal normal 600 16px/19px Montserrat;
    letter-spacing: -0.8px;
  }
  
  .slide-section a {
    letter-spacing: -0.8px;
  }
  
  .hero.is-white .tabs {
    &.is-boxed li.is-active a, &.is-toggle li.is-active a {
      background-color: #FF23B7;
      font-weight: 500;
      border-color: #FF23B7;
  
      &:hover {
        background-color: #FF23B7;
        font-weight: 500;
        border-color: #FF23B7;
      }
    }
  }
  
  /*li.tab {background: #C2188B;}*/
  
  .select:not(.is-multiple):not(.is-loading)::after {
    border-color: #805DC4;
    right: 50px;
  }
  
  .field .select {
    height: auto;
    padding: 0 2.4em;
    height: 70px;
  
    select {
      height: 70px;
  
      &:focus {
        box-shadow: none;
      }
    }
  }
  
  .form {
    max-width: 535px;
    margin-left: auto;
  
    button {
      height: 70px;
      text-transform: uppercase;
      font: 600 16px/19px Montserrat;
      letter-spacing: -0.8px;
  
      &:hover {
        color: #fff;
      }
    }
  }
  
  .slide-section .hero.form {
    border-radius: 15px 15px 15px 15px;
    box-shadow: -1px 5px 20px #00000029;
  }
  
  .tabs.is-large {
    border-radius: 15px 15px 0 0;
  }
  
  .slide-section .hero.is-white nav.tabs a {
    padding: 22px 0;
    font-weight: bold;
    color: #ffffff;
  }
  
  section.work-progress {
    padding: 80px 0;
  }
  
  .rounded {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .border-blue {
    border-color: #4e7cf9;
  }
  
  .border-pink-light {
    border-color: #8968c8;
  }
  
  .border-pink-dark {
    border-color: #fc24b7;
  }
  
  .work-progress {
    img {
      width: 80px;
    }
  
    .our_Ser {
      padding-top: 80px;
    }
  
    li {
      padding: 0 90px;
    }
  }
  
  .steps span {
    height: 15px;
    width: 15px;
  }
  
  .overlay {
    position: absolute;
    top: 100px;
    right: -55px;
  
    img {
      width: 200px;
    }
  }
  
  .postion-relative {
    position: relative;
  }
  
  .inner-block {
    max-width: 42%;
    padding-left: 140px;
  }
  
  .mx60 {
    max-width: 57.927%;
    width: 100%;
  }
  
  .serives_section .ser_col {
    width: 100%;
    padding-top: 110px;
    margin-bottom: 0;
  }
  
  section.serives_section {
    img.shadow {
      box-shadow: 0 0 30px #00000029;
      width: 100%;
    }
  
    margin-top: 30px;
    background: transparent linear-gradient(180deg, #fafafa 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  }
  
  .serives_section .column-left.ser_col .inner-block {
    padding-left: 75px;
  }
  
  .column-left .overlay {
    right: auto;
    left: -60px;
    top: auto;
    bottom: 91px;
  }
  
  .ser_col {
    padding: 30px 0;
  }
  
  .img_bloc {
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 0 30px #0000000D;
    display: flex;
    width: 300px;
    align-items: center;
    height: 150px;
    justify-content: center;
  }
  
  .inner_container.is-flex {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .section_4 {
    padding: 35px 0;
    padding: 105px 0;
    background: transparent linear-gradient(180deg, #f5f5f5 0, #fff 100%) 0 0 no-repeat padding-box;
    margin-top: -80px;
  }
  
  span.heading {
    margin-top: 60px;
    text-transform: none;
    margin-bottom: 5px;
    letter-spacing: 0px;
    line-height: 19px;
  }
  
  .steps {
    position: absolute;
    left: 75%;
    display: flex;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    justify-content: space-between;
  }
  
  .value {
    width: 42px;
    height: 30px;
    border-radius: 100px;
    font: normal normal bold 12px/15px Montserrat;
    line-height: 29px;
  }
  
  .tabs.is-fullwidth li {
    height: 90px;
    position: relative;
  }
  
  li.tab {
    &.is-active:after {
      bottom: -3px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #ff23b7;
      position: absolute;
      content: "";
    }
  
    a {
      background: #C2188B;
    }
  }
  
  .work-progress .steps img {
    width: 100%;
    padding: 0 30px;
    height: 100% !important;
  }
  
  .work_inner {
    max-width: 260px;
    margin: 0 auto;
    display: inline-block;
  }
  
  .content_block {
    max-width: 398px;
  }
  
  .vehicle_page {
    h1 {
      font-size: 64px;
      line-height: 44px;
    }
  
    .ve_title {
      font-size: 30px;
      line-height: 34px;
    }
  
    .card {
      padding: 40px 60px;
      height: 490px;
      z-index: 1;
      position: absolute;
      right: 30px;
      top: -100px;
      max-width: 400px;
    }
  }
  
  .p100 {
    padding: 100px 0;
  }
  
  .vehicle_page .clr-pink {
    font: 600 50px/61px Montserrat;
    color: #FF23B7;
  }
  
  .section_4 p {
    opacity: .5;
  }
  
  button.navbar-item {
    background: transparent;
    outline: none;
  
    &:focus {
      background: transparent;
      outline: none;
    }
  }
  
  .card {
    border: 1px solid #E5E5E5;
    border-radius: 0;
    border-top: 0;
    box-shadow: 3px 4px 10px #00000008;
  }
  
  .right-card h1 {
    padding-bottom: 25px;
  }
  
  strong {
    font-weight: 600;
  }
  
  .vehicle_page .item_disc img {
    height: 34px;
  }
  
  .navbar-item:last-child {
    padding-right: 0;
  }
  
  .bg_gray h5 img {
    width: 18px;
    margin-right: 10px;
  }
  
  .v_header_title {
    padding: 10px 0;
  
    a {
      margin-left: 20px;
    }
  }
  
  .v_process .work-progress {
    .rounded {
      width: 125px;
      height: 125px;
    }
  
    img {
      width: 65px;
    }
  }
  
  section.vehicle_page .work-progress .container_inner {
    max-width: 820px;
  }
  
  .v_process .work-progress.w-100 {
    padding-bottom: 70px;
  }
  
  section.our_ser {
    margin-top: -90px;
    z-index: 1;
    position: relative;
  }
  
  header .columns {
    padding: 0;
  }
  
  .tabs.is-fullwidth li a {
    border-radius: 0 0 0 0;
  }
  
  /*  css vehicle page 26.12.2020 */
  
  section.v_serives_section {
    padding: 130px 0;
  }
  
  /* ================================  page 2 css ================================ */
  
  aside {
    &.menu {
      max-width: 400px;
      padding-left: 28px;
      padding-top: 10px;
  
      img {
        width: 1rem;
        vertical-align: middle;
        height: auto;
      }
    }
  
    .menu-label::before {
      content: "";
      position: absolute;
      top: 2px;
      left: -30px;
      background: url(../img/icon4.png) no-repeat;
      width: 16px;
      height: 17px;
      background-size: cover;
    }
  }
  
  .columns {
    flex-wrap: wrap;
  }
  
  aside {
    .range_value label, .select select {
      opacity: .7;
      font-weight: 600;
    }
  }
  
  .header-inner, .op7 {
    opacity: .7;
    font-weight: 600;
  }
  
  .menu .select:not(.is-multiple):not(.is-loading)::after {
    border-color: #CDCDCD;
    right: 0;
    border-width: 3px;
    height: 10px;
    width: 10px;
  }
  
  aside {
    .control .select {
      height: auto;
    }
  
    .select select {
      &:hover {
        border-bottom: 1px solid #EEEEEE;
      }
  
      font-size: 14px;
      line-height: 30px;
      border: 0;
      border-bottom: 1px solid #EEEEEE;
      height: 60px;
    }
  }
  
  .menu-label {
    letter-spacing: normal;
  }
  
  aside hr {
    background: transparent linear-gradient(180deg, #000000 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    opacity: 0.02;
    height: 13px;
  }
  
  .side_wrapper_container {
    padding-left: 40px;
    max-width: calc(100% - 300px);
  }
  
  .overlay-text {
    background: #404040;
    line-height: 30px;
    padding: 4px 13px;
    left: 0;
    bottom: 7px;
  }
  
  .side_wrapper_container .card {
    border: 1px solid #E5E5E5;
  }
  
  .card_content img {
    width: 20px;
  }
  
  .card .card-footer {
    border-top: 1px solid #ededed;
    background: transparent linear-gradient(180deg, #fbfbfb 0, #fff 100%) 0 0 no-repeat padding-box;
    padding: 10px 0;
  }
  
  .card_content, .card-footer ul {
    padding: 15px 30px;
  }
  
  .right_header {
    .select:not(.is-multiple):not(.is-loading)::after {
      border-color: #CDCDCD;
      right: 0;
    }
  
    select {
      height: 36px;
    }
  }
  
  .card_content h2 {
    color: #FF23B7;
    font: normal normal 600 30px/37px Montserrat;
    padding: 10px 0;
  }
  
  .card-footer ul li {
    opacity: 0.5;
  }
  
  .card_content {
    h2 span {}
  
    p {
      line-height: 30px;
    }
  }
  
  [type="radio"] {
    &:checked, &:not(:checked) {
      position: absolute;
      left: -9999px;
    }
  
    &:checked + label, &:not(:checked) + label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
    }
  
    &:checked + label:before, &:not(:checked) + label:before {
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      background: #fff;
      border: 2px #707070 solid;
    }
  
    &:checked + label:after, &:not(:checked) + label:after, &:checked + label:before, &:not(:checked) + label:before {
      border-radius: 100%;
      content: '';
      position: absolute;
    }
  
    &:checked + label:after {
      width: 10px;
      height: 10px;
      background: #CDCDCD;
      top: 5px;
      left: 5px;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  
    &:not(:checked) + label:after {
      width: 10px;
      height: 10px;
      background: #CDCDCD;
      top: 5px;
      left: 5px;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    &:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  .container-inner {
    width: calc(100% - 320px);
  }
  
  /* ==================================   benifits_section  ==================================  */
  
  .gradiant {
    background: transparent linear-gradient(165deg, #ad9cd0 0, #8268b1 100%) 0 0 no-repeat padding-box;
  }
  
  .benifits_section {
    h3 {
      font-size: 36px;
      line-height: 44px;
    }
  
    li {
      font-weight: 600;
      line-height: 18px;
      padding: 5px 0;
    }
  
    i {
      color: #000;
      margin-right: 20px;
      opacity: .36;
    }
  }
  
  section.benifits_section {
    margin-top: -60px;
    padding: 55px 0;
  }
  
  /*
  .container_inner.is-flex{width:100%;max-width:calc(100% - 340px);padding-right:15px;margin-left:auto}*/
  
  .stocklist_btn a {
    width: 260px;
  }
  
  .bg-gray-light {
    background-color: #cdcdcd;
  }
  
  .stocklist_content p > strong {
    color: #404040;
  }
  
  section.listing {
    margin-top: -60px;
    padding-top: 10px;
  }
  
  .m-auto {
    margin: 0 auto;
  }
  
  .stocklist_content a {
    color: #805dc4;
    font-weight: 600;
  }
  
  section {
    &.work-progress.stocklist_prg .steps {
      left: 75%;
      max-width: 50%;
    }
  
    &.client_section {
      padding: 10px 0;
      position: relative;
      z-index: 9;
    }
  }
  
  /* ==================================   benifits_section  ==================================  */
  
  .vehicle_page .overlay-text {
    right: 0;
    max-width: max-content;
    margin: 0 auto;
    bottom: -10px;
  }
  
  section.about_car img {
    padding-right: 50px;
  }
  
  .slider-box {
    width: 90%;
    margin: 25px auto;
  }
  
  label {
    border: none;
    margin-right: -4px;
    vertical-align: top;
  }
  
  input {
    border: none;
    margin-right: -4px;
    vertical-align: top;
    width: 70%;
  }
  
  .slider {
    margin: 15px 0 0;
  }
  
  .about_car {
    padding: 100px 0;
  
    h1 {
      font-size: 64px;
      line-height: 72px;
    }
  
    p {
      font-size: 34px;
      line-height: 30px;
    }
  }
  
  .bg_gray {
    background: #606060;
    z-index: 1;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
  }
  
  .bg-black {
    background: #000000;
    opacity: 0.7;
  }
  
  .border-white {
    border-color: #fff;
  }
  
  .vehicle_page {
    h1 {
      font-size: 64px;
      line-height: 44px;
    }
  
    .ve_title {
      font-size: 30px;
      line-height: 34px;
    }
  }
  
  .card.p-lg-6 {
    padding: 60px;
  }
  
  .vehicle_page .clr-pink {
    font: 600 50px/61px Montserrat;
    color: #FF23B7;
  }
  
  .section_4 p {
    opacity: .5;
  }
  
  button.navbar-item {
    background: transparent;
    outline: none;
  
    &:focus {
      background: transparent;
      outline: none;
    }
  }
  
  .slick-slide.slick-active {
    background: transparent;
    outline: none;
  }
  
  .card {
    border: 1px solid #E5E5E5;
    border-radius: 0;
    border-top: 0;
    box-shadow: 3px 4px 10px #00000008;
  }
  
  .manufacturer_banner {
    background: url(../img/manufacturer_banner.jpg) no-repeat center center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: flex-end !important;
    padding-bottom: 30px;
    position: relative;
  }
  
  .slide-section, .serives_section, .section_4 {
    position: relative;
  }
  
  section.manufacturer_banner:after, .slide-section:after, .serives_section:after, .section_4:after, .slider-shadow:after {
    background: transparent linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%) 0% 0% no-repeat padding-box;
    opacity: 0.2;
    height: 30px;
    position: absolute;
    left: 0;
    width: 100%;
    content: "";
    bottom: -30px;
  }
  
  .serives_section:after, .section_4:after {
    top: 0;
    opacity: 0.1;
    bottom: auto;
  }
  
  .common-heading {
    font: 600 24px/29px Montserrat;
  }
  
  .inner_container_2 {
    width: 100%;
    max-width: 1370px;
    margin: 0 auto;
  
    .fix-width {
      max-width: 810px;
      margin-left: 0;
    }
  }
  
  .range_slider .range_slider_col {
    select {
      border: 0;
      background: none;
    }
  
    margin-bottom: 15px;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
  }
  
  section.manufacturer_content {
    margin-top: 30px;
  
    h3 {
      /*    margin: 30px 0;*/
    }
  }
  
  .range_slider_col .select:after {
    top: unset !important;
    bottom: 0;
  }
  
  .select select:focus {
    box-shadow: 0 0 BLACK;
  }
  
  .popular_models tr {
    td {
      &:nth-child(2), &:nth-child(3) {
        font-weight: 600;
        letter-spacing: -0.8px;
      }
    }
  
    &:first-child td, &:last-child td {
      border: 0;
    }
  
     td {
       line-height: 19px;
       padding: 30px 0;
       border-top: 1px solid #6060601f;
       border-bottom: 1px solid #6060601f;
     }
  }
  
  .img_gallery img {
    width: 100%;
  }
  
  /*----28-12-2020-start----*/
  
  span.range-slider__value {
    position: absolute;
    top: 0;
  }
  
  .range-slider {
    position: relative;
    width: 100%;
  }
  
  .range-slider__range {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
  
    &::-webkit-slider-thumb {
      appearance: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
      box-shadow: 0 3px 10px #0000004D;
      transition: background .15s ease-in-out;
    }
  
    &::-moz-range-thumb {
      width: 30px;
      height: 30px;
      border: 0;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
      transition: background .15s ease-in-out;
    }
  
    &:active::-moz-range-thumb, &::-moz-range-thumb:hover, &:active::-webkit-slider-thumb .range-slider__range::-webkit-slider-thumb:hover {
      background: #fff;
    }
  }
  
  input.range-slider__range {
    margin-top: 10px;
  }
  
  .benifits_section {
    margin-top: -60px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  
  .listing {
    margin-top: -50px;
  }
  
  .menu {
    &.column {
      padding: 0 30px;
    }
  
    .select select {
      font-size: 14px;
      line-height: 30px;
      border: 0;
    }
  
    &.column .control {
      padding: 9px 0;
      border-bottom: 1px solid #eee;
    }
  }
  
  header {
    .column.is-full {
      box-shadow: 0 1px 10px #0000000D;
    }
  
    padding: 0;
  
    &.sticky-header {
      position: fixed;
      top: 0;
      z-index: 9;
    }
  }
  
  .range-slider__range {
    border-radius: 100px;
  }
  
  /* pawan css added from 30.12.2020 */
  /*  css vehicle page 26.12.2020 */
  
  section.v_serives_section {
    padding: 130px 0;
  }
  
  h5, h6 {
    font-weight: 600;
    color: #606060 !important;
  }
  
  .Specification_seciton {
    .btn {
      font: normal normal 600 14px/30px Montserrat;
    }
  
    .table.is-striped tbody tr:not(.is-selected):nth-child(even) {
      background-color: #f5f5f5;
    }
  
    table {
      background-color: transparent;
      box-shadow: none;
    }
  
    .table td {
      border: 0;
      padding: 20px 30px;
      font: normal normal 600 14px/18px Montserrat;
    }
  }
  
  .table th {
    border: 0;
    padding: 20px 30px;
    font: normal normal 600 14px/18px Montserrat;
  }
  
  .accordion-header.toggle {
    padding: 20px 30px;
    border-bottom: 1px solid #EEEEEE;
  }
  
  section.vehicle_page .work-progress .container_inner {
    padding-left: 12.5%;
  }
  
  .v_process ul {
    max-width: 860px;
  }
  
  .accordions .accordion {
    .accordion-header + .accordion-body {
      overflow-y: hidden;
      max-height: 0;
      -webkit-transition: max-height .2s ease;
      -moz-transition: max-height .2s ease;
      -o-transition: max-height .2s ease;
      transition: max-height .2s ease;
      border: 0;
    }
  
    &.is-active .accordion-body {
      max-height: 100em;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
  
  .px-50 {
    padding: 0 50px;
  }
  
  .py-50 {
    padding: 50px 0;
  }
  
  .pt50 {
    padding-top: 50px;
  }
  
  .pb50 {
    padding-bottom: 50px;
  }
  
  .p50 {
    padding: 50px;
  }
  
  .quote_section {
    .select:not(.is-multiple):not(.is-loading)::after {
      border-color: #805DC4;
      right: 20px;
    }
  
    select.w-100.font16.clr_gray {
      border: 0;
      border-bottom: 1px solid #CDCDCD;
      border-radius: 0;
      font: 16px/19px Montserrat;
    }
  }
  
  label, input {
    margin: 0;
  }
  
  .h100 {
    height: 100%;
  }
  
  .quote_section {
    padding: 120px 0;
    padding: 90px 0 120px 0;
    margin-top: 120px;
  }
  
  .clr-pink {
    color: #FF23B7;
  }
  
  .quote_section label + h2 {
    font: normal normal 600 60px/73px Montserrat;
  }
  
  .font-weight-normal {
    font-weight: normal !important;
  }
  
  .quote_section h1 {
    font-size: 60px;
    line-height: 76px;
  }
  
  .px-30 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .listing p {
    padding: 90px 0;
  }
  
  .bg-light-white {
    background-color: #fcfcfc;
  }
  
  .vehicle_page {
    .slick-list {
      padding-bottom: 20px;
    }
  
    .overlay-text h5 {
      font: normal normal 600 18px/30px Montserrat;
    }
  
    .item_disc.p100 {
      padding: 80px 0;
    }
  
    .card {
      max-width: 24.5%;
      width: 100%;
    }
  }
  
  /*  css vehicle page 26.12.2020 end */
  
  .application_front {
    height: calc(120vh - 141px);
    background: url(../img/application_banr.jpg) no-repeat center center;
    background-size: cover;
    padding: 60px 0 0;
  }
  
  .overlay_box {
    position: absolute;
    top: calc(50% + 80px);
    max-width: 1115px;
    margin: 0 auto;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .app_footer {
    padding: 0 60px;
  }
  
  .img-blog {
    flex: 0 0 66.9%;
    max-width: 61.9%;
    background: url(../img/application_img.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    object-fit: cover;
  }
  
  .app_form {
    flex: 0 0 38%;
    max-width: 38%;
    height: 100%;
  
    p {
      line-height: 30px;
    }
  }
  
  .title-price, .vehicle_page .right-card h1 {
    font: 600 50px/50px Montserrat;
  }
  
  .price_div p {
    font: 14px/26px Montserrat;
    opacity: 0.5;
  }
  
  .app_form li, .postion-sticky li {
    padding-bottom: 10px;
    font: 600 14px/18px Montserrat;
  }
  
  .app_form li {
    &:last-child {
      padding-bottom: 0;
    }
  
    i {
      opacity: 0.36;
      color: #666;
      margin-right: 20px;
    }
  }
  
  .postion-sticky li i {
    opacity: 0.36;
    color: #666;
    margin-right: 20px;
  }
  
  .app_footer i {
    font-size: 30px;
    margin-right: 20px;
  }
  
  .font32 {
    font-size: 32px;
    line-height: 40px;
  }
  
  /*  css applicaiton page 26.12.2020 start */
  
  .inner_div {
    max-width: 1115px;
    margin: 0 auto;
    padding-left: 30px;
  }
  
  .help_section p {
    padding: 15px 0;
  }
  
  .applicaiton_form {
    .select select, [type=date], input {
      border: none;
      box-shadow: none;
      border-bottom: 1px solid #cdcdcd;
      border-radius: 0;
      font: normal normal normal 16px/19px Montserrat;
      letter-spacing: 0;
      color: #606060;
      width: 100%;
      padding: 0 15px;
      height: 60px;
    }
  
    .control {
      padding-bottom: 20px;
    }
  
    i {
      font-size: 30px;
      color: #cdcdcd;
      margin-right: 30px;
    }
  
    .select:not(.is-multiple):not(.is-loading)::after {
      right: 20px;
    }
  }
  
  .padding-bottom-60 {
    padding-bottom: 50px;
  }
  
  .columns.padding-bottom-60 {
    padding: 50px 0;
  }
  
  .applicaiton_form input::placeholder {
    font: normal normal normal 16px/19px Montserrat;
    letter-spacing: 0;
    color: #606060;
    opacity: 1;
  }
  
  .app_footer a, .is-text-decoration-underline {
    text-decoration: underline;
  }
  
  .applicaiton_form input:focus {
    outline: 0;
    border-color: #cdcdcd;
    box-shadow: none;
  }
  
  .half-right {
    padding-left: 100px;
  }
  
  /*  css applicaiton page 26.12.2020 start */
  
  .account_create {
    background: #805dc4;
    padding: 60px;
    color: #fff;
  
    form {
      padding: 30px 0 0;
    }
  
    input {
      &::placeholder {
        font: normal normal normal 16px/19px Montserrat;
        letter-spacing: 0;
        color: #fff;
        opacity: .7;
      }
  
      background: 0 0;
    }
  
    i {
      color: #fff;
    }
  }
  
  .container_min {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .manufacturer_content p, section.v_serives_section p {
    line-height: 24px;
  }
  
  .ackn_section h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
  }
  
  .check_custom {
    line-height: 20px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }
  
  .checkmark {
    border: 2px solid #707070;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
  
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  
  .check_custom {
    input:checked ~ .checkmark:after {
      display: block;
    }
  
    .checkmark:after {
      left: 5px;
      top: 2px;
      width: 6px;
      height: 11px;
      border: solid #fc24b7;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  
  .margintop60 {
    margin-top: 60px;
  }
  
  .postion-sticky {
    position: fixed;
    top: 100px;
    padding: 55px 60px;
    right: 70px;
    height: 100%;
    z-index: 9;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 10px #00000008;
    max-width: 400px;
  
    img {
      max-width: 210px;
      display: block;
      margin: 0 auto;
    }
  
    ul {
      padding-top: 80px;
    }
  }
  
  .slick-slider button {
    z-index: 9;
    position: absolute;
    top: 50%;
    font-size: 0;
    background-color: transparent;
    border: 0;
    transform: translatey(-50%);
    opacity: .1;
  
    &:focus {
      outline: 0;
    }
  
    &.slick-prev {
      left: -40px;
    }
  
    &.slick-next {
      right: -40px;
  
      &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 30px;
      }
    }
  
    &.slick-prev:before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 30px;
      content: "\f053";
    }
  
    &.slick-next:before {
      content: "\f054";
    }
  }
  
  .sale_title {
    padding: 40px 0;
  }
  
  .image_gallery {
    margin-top: 70px;
  }
  
  #img_gallery2 .slick-slide {
    padding-right: 10px;
  }
  
  body {
    background: #fcfcfc;
  }
  
  .fix-width.range_slider {
    padding-left: 0;
    margin-bottom: 60px;
    padding-right: 0;
    box-shadow: 0 0 10px #00000008;
    border: 1px solid #e5e5e5;
  }
  
  .range_slider_outer {
    padding: 40px 50px;
  }
  
  .range_slide_content {
    padding: 50px 50px;
  }
  
  label {
    font: normal normal 600 16px/19px Montserrat;
    color: #606060;
  }
  
  .slider-shadow:after {
    background: transparent linear-gradient(180deg, #000 0, #00000000 100%) 0 0 no-repeat padding-box;
    height: 30px;
    position: absolute;
    left: 0;
    width: 100%;
    content: "";
    bottom: -30px;
    background: transparent linear-gradient(180deg, #000 0, #00000000 100%) 0 0 no-repeat padding-box;
    opacity: .02;
  }
  
  .section_4:after {
    background: transparent linear-gradient(180deg, #000 0, #fff 100%) 0 0 no-repeat padding-box;
    opacity: .02;
  }
  
  .slider-shadow {
    position: relative;
  }
  
  .inner_container_2.postion-absolute {
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .autom_fet {
    ul {
      flex-wrap: wrap;
    }
  
    li {
      border: 1px solid #e5e5e5;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      flex: 0 0 32%;
      max-width: 33%;
      height: 150px;
      margin: 0 10px 15px 0;
    }
  }
  
  span.discp {
    opacity: .5;
  }
  
  .autom_fet {
    margin-top: 50px;
  }
  
  @media (max-width: 1440px) {
    aside.menu .aside_wrapper .input-group.column {
      padding-right: 0;
    }
  
    .postion-sticky {
      ul {
        padding-top: 40px;
      }
  
      top: 60px;
      padding: 35px 60px;
      height: auto;
    }
  }
  
  @media (max-width: 1300px) {
    .navbar-item, .navbar-link {
      font: 600 14px/1.3rem Montserrat,sans-serif;
      padding: 0 .5rem;
    }
  }
  
  @media (max-width: 1023px) {
    body {
      aside.menu {
        max-width: 260px;
      }
  
      .side_wrapper_container {
        max-width: calc(100% - 260px);
      }
    }
  }
  
  .collapsible header a {
    background: lightgrey;
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #000;
  }
  
  .collapsed {
    display: block;
  }
  
  @media (max-width: 768px) {
    .collapsed {
      display: none;
    }
  
    .collapsible a.show-collapsed {
      display: block;
      text-align: center;
      background: #FF23B7;
      color: #fff;
      padding: 15px;
    }
  
    .right_header .select:not(.is-multiple):not(.is-loading)::after {
      right: -2px;
      top: calc(50% - 3px);
    }
  
    .main_content .right_header .columns .column .is-flex.is-justify-content-flex-end .control .select {
      margin-left: 9px;
      position: relative;
      top: 2px;
      margin-right: 5px;
    }
  
    .right_header select {
      margin-right: 20px;
    }
  
    .collapsible a.show-collapsed h2 {
      font-weight: 700;
    }
  
    .full-widht.bg-gray.pt-4.collapsible {
      padding-top: 0 !important;
    }
  
    .side_bar_outer.collapsed {
      padding-top: 20px;
    }
  
    .main_content .right_header .columns .column {
      &:first-child {
        display: none;
      }
  
      .is-flex.is-justify-content-flex-end {
        justify-content: space-between !important;
      }
  
      padding-top: 0;
    }
  
    /*--mover-section-in-top-start--*/
  
    .benifits_section {
      margin-top: 465px;
      padding-bottom: 200px;
  
      .columns {
        margin-top: -500px;
      }
    }
  
    .listing {
      margin-top: -180px;
    }
  
    .benifits_section {
      li {
        font-weight: 600;
        line-height: 18px;
        padding: 5px 0;
        font-size: 10px;
      }
  
      h3 {
        font-size: 25px;
        line-height: 35px;
      }
    }
  
    /*--mover-section-in-top-end--*/
  
    .listing .container_inner .column {
      margin-bottom: 36px;
    }
  
    .benifits_section .container_inner.is-flex {
      max-width: 100%;
      padding: 0;
      display: block !important;
    }
  
    .listing .container_inner.is-flex {
      padding: 0;
    }
  
    body .side_wrapper_container {
      max-width: 100%;
      padding-left: 0;
    }
  
    section.benifits_section .container_inner.is-flex {
      display: block !important;
      max-width: 100%;
      padding: 0 15px;
    }
  
    .container_inner.is-flex {
      max-width: 100%;
      padding: 0 15px;
    }
  
    .stocklist_btn a {
      width: 49%;
    }
  
    .stocklist_content img {
      display: none;
    }
  
    section.stocklist_ser .columns .column .is-flex {
      display: block !important;
  
      .inner-block .content_block {
        margin: 0 auto;
      }
  
      .mx60 {
        width: 100%;
        max-width: 100%;
  
        img {
          width: 100%;
        }
      }
    }
  }
  
  @media (max-width: 480px) {
    .stocklist_btn a {
      width: 49%;
      padding: 11px;
    }
  }
  
  /*---replace-css---*/
  
  /*----28-12-2020-end----*/
  
  @media (min-width: 768px) {
    .collapsible a.show-collapsed {
      display: none;
    }
  }
  
  @media (max-width: 1440px) {
    .slide-section {
      h1 {
        font-size: 44px;
        line-height: 50px;
      }
  
      h3 {
        font-size: 18px;
        line-height: 26px;
      }
    }
  
    .navbar-item img {
      max-width: 100%;
    }
  
    .rounded {
      width: 120px;
      height: 120px;
    }
  
    .work-progress img {
      width: 60px;
    }
  
    .steps {
      left: 88%;
    }
  }
  
  @media (max-width: 1366px) {
    .steps {
      width: 70%;
    }
  
    .work-progress li {
      padding: 0 40px;
    }
  }
  
  @media (min-width: 1024px) and (max-width: 1199px) {
    .navbar-item, .navbar-link {
      font-size: 1.1vw;
      padding: 0 .5rem;
    }
  }
  
  @media (max-width: 1023px) {
    .overlay img {
      width: 100px;
    }
  
    a.navbar-burger {
      margin-left: 30px;
    }
  
    .work-progress li {
      padding: 0 10px;
    }
  
    .rounded {
      border: 0;
    }
  
    .inner-block {
      max-width: 100%;
      text-align: center;
    }
  
    .navbar-brand.is-hidden-mobile, .steps {
      display: none;
    }
  
    .mobile-icon {
      font-family: 'Campton';
      color: #404040;
      font-size: 17px;
      letter-spacing: 1.7px;
  
      span {
        font-family: 'Campton Book';
      }
    }
  
    .navbar-brand {
      padding-top: 0;
    }
  
    nav.navbar {
      padding: 20px 18px;
    }
  
    .navbar-burger, nav a.call {
      border: 2px solid #606060;
      opacity: 1;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #606060;
      position: relative;
    }
  
    .navbar-burger {
      span {
        height: 2px;
        border-radius: 10px;
        border: 1px solid;
        color: #606060;
        opacity: .8;
      }
  
      &:after {
        content: "";
        position: absolute;
        background-color: #fff;
        height: 7px;
        top: 3px;
        width: 7px;
        right: 0;
        z-index: 9;
      }
    }
  
    header {
      padding: 0;
    }
  
    .navbar-menu {
      &.menu_open {
        left: 0;
      }
  
      transition: all .5s ease-in-out;
      position: fixed;
      left: -100%;
      height: 100%;
      top: 0;
    }
  
    .navbar-item {
      line-height: 2.5rem;
      display: flex;
      align-items: center;
      margin: 15px 10px;
    }
  
    .slide-section h1 {
      font-size: 32px;
      line-height: 40px;
    }
  
    .img_bloc, .inner_container {
      width: 100%;
    }
  }
  
  @media (max-width: 991px) {
    .inner-block {
      padding-left: 40px;
    }
  
    .serives_section .column-left.ser_col .inner-block {
      padding-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .select:not(.is-multiple):not(.is-loading)::after {
      border-color: #805DC4;
      right: 30px;
    }
  
    .ser_col {
      padding-bottom: 50px;
    }
  
    .slide-section {
      .hero.form {
        border-radius: 0;
      }
  
      background: transparent linear-gradient(357deg, #ad9cd0 0, #8268b1 100%) 0 0 no-repeat padding-box;
      padding: 40px 5px 60px;
      height: auto;
  
      h3 {
        font: 16px/24px Montserrat;
        text-shadow: 0 0 30px #000;
        text-align: center;
        padding: 5px 0;
      }
  
      .hero.form {
        margin-top: 30px;
        max-width: 100%;
      }
    }
  
    .hero.is-white .tabs.is-boxed li.is-active a {
      box-shadow: none;
      border-color: #fff;
      color: #606060;
      font-weight: 600;
      background-color: #fff;
  
      &:hover {
        box-shadow: none;
        border-color: #fff;
        color: #606060;
        font-weight: 600;
        background-color: #fff;
      }
    }
  
    li.tab {
      position: relative;
      background: #fff;
    }
  
    .slide-section .hero.is-white nav.tabs a {
      font-weight: 600;
      opacity: 1;
      color: #666;
    }
  
    .tabs.is-large {
      border-radius: 0;
    }
  
    .hero.is-white .tabs.is-boxed li a {
      border-radius: 0;
      padding: 18px 0;
      line-height: 23px;
      box-shadow: inset 0 0 20px 1px #00000029;
      -moz-box-shadow: inset 0 0 10px #000;
      -webkit-box-shadow: inset 0 0 20px 1px #0000001a;
    }
  
    .field .select {
      padding: 0 1.2em;
    }
  
    .tabs.is-fullwidth li.tab {
      &:after {
        content: "";
        width: 100%;
        position: absolute;
        background: #8d75b9;
        height: 30px;
        top: -20px;
        z-index: 9999;
      }
  
      &.is-active::after {
        content: none;
      }
    }
  
    .field .select select {
      height: 70px;
      font: normal normal normal 16px/19px Montserrat;
      letter-spacing: 0;
      color: #606060;
    }
  
    .form button {
      &::first-letter {
        text-transform: capitalize;
      }
  
      text-transform: none;
    }
  
    section.work-progress {
      padding: 0;
    }
  
    .rounded {
      width: auto;
      height: auto;
    }
  
    .work-progress {
      li {
        padding: 20px 10px 30px;
      }
  
      .our_Ser {
        padding-top: 0;
      }
    }
  
    section.work-progress .column.is-full-mobile {
      padding: 31px 0 25px;
    }
  
    .work-progress li {
      span.heading + span {
        line-height: 18px;
      }
  
      &:last-child {
        padding-bottom: 0;
      }
    }
  
    section.serives_section {
      .column.is-half > div {
        width: 100%;
      }
  
      img.shadow {
        box-shadow: none;
        margin-bottom: 17px;
        width: 100%;
      }
    }
  
    .serives_section .column {
      padding: 0 0;
      width: 100%;
    }
  
    .columns.is-vcentered.column-left.ser_col {
      display: flex;
      padding-top: 20px;
      flex-direction: column-reverse;
    }
  
    section.serives_section {
      margin-top: 45px;
      padding-top: 60px;
    }
  
    .img_bloc {
      box-shadow: 0px 0px 30px #00000029;
    }
  
    section.client_section .column {
      padding: 15px 30px;
    }
  
    .slide-section h1 {
      text-align: center;
    }
  
    .section_4 {
      padding: 20px 20px;
      background: transparent;
      margin: 0 0 35px;
    }
  
    .slide-section h3 {
      font: 16px/24px Montserrat;
      text-shadow: 0px 0px 30px #000000;
      text-align: center;
    }
  
    footer {
      padding: 50px 30px;
      text-align: center;
  
      .columns {
        display: flex;
        flex-direction: column;
      }
  
      .order2 {
        order: 1;
      }
  
      .order3 {
        order: 3;
        padding-top: 30px;
      }
  
      .order4 {
        order: 4;
        padding-top: 30px;
      }
  
      .order1 {
        order: 0;
      }
  
      .column.is-one-five {
        width: 100%;
      }
  
      img {
        max-width: 250px;
        padding: 35px 0;
      }
  
      p, li {
        opacity: 0.5;
      }
    }
  
    .pr-4 {
      padding-right: 0 !important;
    }
  
    li.tab a {
      background: unset;
    }
  
    span.heading {
      margin-top: 30px;
    }
  
    .serives_section .is-flex.is-align-items-center {
      display: flex !important;
      flex-wrap: wrap;
    }
  
    .content_block {
      max-width: 315px;
    }
  
    .mx60 {
      max-width: 100%;
    }
  
    .columns.is-vcentered.column-left.ser_col .is-flex {
      flex-direction: column-reverse;
    }
  
    .serives_section .ser_col {
      padding-top: 0;
    }
  
    .inner-block {
      padding-left: 0;
      margin: 0 auto;
    }
  
    .work-progress span.heading {
      margin-top: 50px;
    }
  
    section.serives_section .columns.is-vcentered.column-left.ser_col {}
  
    .widget_area {
      min-height: 200px;
    }
  }