<div class="loader_main" *ngIf="isLoding">
  <div class="loader"></div>
</div> 

<div class="main_div">
<img src="./assets/back.svg" *ngIf="!data" style="position: absolute;left: 25%;
    cursor: pointer;" (click)="back()"> <p *ngIf="!data" style="text-align: center;">No record found</p>

  <form *ngIf="data">
    <img src="./assets/back.svg" style="position: absolute;left: 25%;
    cursor: pointer;" (click)="back()">
    <label>Title : <b>{{data.title}}</b></label><br><br>
    

    <label for="fname">Body</label>
    <textarea readonly="" style="height: 109px">{{data.body}}</textarea> 


  </form>
</div>

  <div *ngIf="data" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">

		<div class="main_div" *ngFor='let p of items'>
		<!-- <img src="./assets/back.svg" *ngIf="!data" style="position: absolute;left: 25%;
		    cursor: pointer;" (click)="back()"> <p *ngIf="!data" style="text-align: center;">No record found</p> -->

		  <form >
		  <!--   <img src="./assets/back.svg" style="position: absolute;left: 25%;
		    cursor: pointer;" (click)="back()"> -->
		    <label>Title : <b>{{p.last}}</b></label><br><br>
		    

		    <label for="fname">Body</label>
		    <textarea readonly="" style="height: 109px">{{p.value}}</textarea> 


		  </form>




		</div>
</div>		